
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.contenedor-main{
    margin-top: 40px;
}

.tarjeta-con-niveles {
    width: 18rem;
}

.contenedor-main {
    width: 100%;
    gap: 20px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.tipo {
    font-weight: bold;
}

.card-img-top{
    background-color: rgb(12, 12, 12);
}